<a href="https://colab.research.google.com/github/ssGlauber/Target_Colab/blob/main/target.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Questão 01

In [39]:
# QUESTÃO 01
#
i = 13
k = 0
soma = 0
while (k < i) :
  k = k + 1
  soma = soma + k
  print(soma)

print("\nO valor da variável SOMA é: " + str(soma))

1
3
6
10
15
21
28
36
45
55
66
78
91

O valor da variável SOMA é: 91

Questao 02

In [35]:
#QUESTÃO 02
#

n = int(input("Que termo deseja encontrar: "))
ultimo=0
penultimo=1
if (n==0):
    print("0")
    print("Encontrado!")
else:
    print("0")  
    count=0
    while count <= n:
        termo = ultimo + penultimo
        penultimo = ultimo
        ultimo = termo
        count += 1
        print(termo)
        if (termo==n):
          print("Encontrado!")
          break
        elif (termo>n):
          print("não encontrado!")
          break

Que termo deseja encontrar: 5
0
1
1
2
3
5
Encontrado!

Questão 03

In [34]:
# FUNCTION PARA QUESTÃO 03 E 04.
#
def formata_Moeda(texto):
    texto_formatado = f"R$ {texto:_.2f}"
    texto_formatado = texto_formatado.replace(".",",").replace("_",".")
    return (texto_formatado)

In [33]:
# QUESTÃO 03
#

import pandas as pd
import numpy as np

dt = pd.read_json("dados.json")
df1 = pd.DataFrame(dt)

# Define DataFrame somente onde valor é maior que zero.
df2 = df1[(df1['valor'] > 0)]

# Menor valor de faturamento ocorrido no mês.
minimo = df2[(df2['valor']==df2.min()['valor'])]
txt_minimo = formata_Moeda(minimo.min()['valor'])
minimo.iat[0,1] = txt_minimo
minimo.columns = ['Dia', 'Valor']
print("\nO menor valor de faturamento ocorrido em um dia do mês foi:")
print(minimo)

# Maior valor de faturamento ocorrido no mês.
maximo = df2[(df2['valor']==df2.max()['valor'])]
txt_maximo = formata_Moeda(maximo.max()['valor'])
maximo.iat[0,1] = txt_maximo
maximo.columns = ['Dia', 'Valor']
print("\nO maior valor de faturamento ocorrido em um dia do mês foi:")
print(maximo)

# Média de faturamento para valores maiores que zero.
mean_df2 = df2['valor'].mean()
media = formata_Moeda(mean_df2)
print("\nA média é: " + media)

# Conta o numero de dias em que o faturamento foi maior do que a média.
count_dias = df2.loc[df2['valor'] > mean_df2]['dia'].count()
print("\n" + str(count_dias) + " dias no mês o valor de faturamento diário foi superior à média mensal")

# Define DataFrame com os dias e valores onde valor foi maior que a média.
df3 = df2.loc[df2['valor'] > mean_df2].copy()
df3['valor'] = df3['valor'].apply(formata_Moeda)
df3.columns = ['Dia', 'Valor']
df3

O menor valor de faturamento ocorrido em um dia do mês foi:
    Dia      Valor
13   14  R$ 373,78

O maior valor de faturamento ocorrido em um dia do mês foi:
    Dia         Valor
15   16  R$ 48.924,24

A média é: R$ 20.865,37

10 dias no mês o valor de faturamento diário foi superior à média mensal

    Dia         Valor
0     1  R$ 22.174,17
1     2  R$ 24.537,67
2     3  R$ 26.139,61
5     6  R$ 26.742,66
7     8  R$ 42.889,23
8     9  R$ 46.251,17
15   16  R$ 48.924,24
19   20  R$ 35.240,18
20   21  R$ 43.829,17
26   27  R$ 25.681,83

Questão 04

In [32]:
# QUESTÃO 04
#

import pandas as pd
import numpy as np

dados = [
          ("SP", 67836.43),
          ("RJ", 36678.66),
          ("MG", 29229.88),
          ("ES", 27165.48),
          ("Outros", 19849.53)
       ]
  
# Criando DataFrame
df = pd.DataFrame(dados, index = ['a', 'b', 'c', 'd', 'e'], columns = ['Estado', 'Faturamento'])
print(df)
total = df['Faturamento'].sum()
print (f'\nTotal do Faturamento R$:{total:,.2f}')
df['%'] = (df['Faturamento'] / total) * 100

df['Faturamento'] = df['Faturamento'].apply(formata_Moeda)
#pd.options.display.float_format = '{:,.2f}'.format 
df

   Estado  Faturamento
a      SP    67,836.43
b      RJ    36,678.66
c      MG    29,229.88
d      ES    27,165.48
e  Outros    19,849.53

Total do Faturamento R$:180,759.98

   Estado   Faturamento     %
a      SP  R$ 67.836,43 37.53
b      RJ  R$ 36.678,66 20.29
c      MG  R$ 29.229,88 16.17
d      ES  R$ 27.165,48 15.03
e  Outros  R$ 19.849,53 10.98

Questão 05

In [31]:
# QUESTÃO 05
#

palavra = input("Digite a palavra: ")
# Primeira maneira: Usando operadores de String do Python. 
print("\nResultado 1: "+palavra[::-1])

# Outra maneira: Usando loop While.
tamanho = len(palavra)
p=1
inverso=""
while p <= tamanho:
  inverso = inverso + palavra[-p]
  p=p+1

print("\nResultado 2: " + inverso)

Digite a palavra: TESTE

Resultado 1: ETSET

Resultado 2: ETSET